#outerbox
{
    width: 900px;
    overflow: hidden;


}
#sliderbox
{
    position: relative;
    width: 3600px;
    animation-name: George;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    ani
}
#sliderbox img{
    float: left;
}
@keyframes George{
0%
{
    left:0px;
}
20%
{
    left:0px;
}
25%
{
    left:-900px;
}
45%
{
    left:-900px;
}
50%
{
    left:-1800px;
}
70%
{
    left:-1800px;
}
75%
{
    left:-2700px;
}
100%
{
    left:-3600px;
}





}

